#RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^$	index.php?page=Home [L]
#RewriteRule ^(.*)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$  index.php?page=$1&method=$2&var=$3 [L]
#RewriteRule ^(.*)/([A-Za-z0-9-]+)/?$  index.php?page=$1&method=$2 [L]


# Turn on the RewriteEngine
RewriteEngine On
#  Rules
RewriteRule ^(.*)([A-Za-z0-9-]+)?$  index.php [L]